/* sidenav.module.css */
.root {
  font-family: Poppins;

}
.sidenav {
    width: 100%;
    height: 100%;
    max-width: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sidenavEmblem {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .emblemCircle {
    width: 170px;
    height: 170px;
    background-color: #eeeeee;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

  
  .DeptIcon {
    height: 70px;
    width: auto;
    max-width: 100%;
  }
  
  .DeptName {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 700;
    font-family: Poppins;

  }
  
  .navbtns {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navButton {
    font-family: Poppins;
    margin-bottom: 10px;
    width: 12vw;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: #333;
  } 

  .navButton:not(:last-child) {
    margin-bottom: 20px; 
}
  
  .navButton:hover {
    background-color: #73a4f8;
  }
  
  .activeNavButton {
    background-color: #6aa8fa;
  }
  
  