.sidenav {
    width: 100%; 
    height: 100%;
    max-width: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

.sidenavEmblem {
    margin-top: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.emblemCircle {
    width: 150px;
    height: 150px; 
    background-color: #EEEEEE;
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DeptIcon {
    height: 70px;
    width: auto;
    max-width: 100%;
}

.DeptName {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 700;
}

/* sidenav.module.css */

.navbtns {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navButton {
    margin-bottom: 10px;
    width: 14vw;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none; /* Remove default link underline */
    color: #333; /* Adjust text color */
  }
  
  .navButton:hover {
    background-color: #6aa8fa;
  }
  
  
  